/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Escopo da página Nossos Serviços */
#secao-servicos.pagina-servicos {
  background: #fff;
  padding: 60px 20px;
  font-family: "Arial", sans-serif;
  color: #000;
}

/* Container */
.servicos {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.pagina-servicos .header {
  margin-bottom: 20px;
}

/* Botão */
.servico-cta {
  margin-top: auto;
  font-weight: 700;
  color: #ff6900;
  text-decoration: none;
  transition: 0.3s;
}

.servico-cta:hover {
  color: #ffa040;
}

/* RESPONSIVIDADE */
@media (max-width: 1050px) {
  .pagina-servicos .servicos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .pagina-servicos .servicos-grid {
    grid-template-columns: 1fr;
  }

  .pagina-servicos .header {
    text-align: center;
  }

  .servico-card {
    width: 90%;
    margin: 0 auto;
  }
}
