#produtosPages {
  max-width: 1050px;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  align-items: end;
  padding: 50px 50px 0px 30px;
  justify-content: space-between;
  gap: 10px;
}

#produtosPages p {
  max-width: 483px;
  width: 100%;
  height: 112px;
  margin-top: 10px;
  word-spacing: 5.9px;
  font-family: Arial, Helvetica, sans-serif;
}

#produtosPages h1 {
  font-size: 36px;
  font-family: "Impact", sans-serif;
}

#filtroSelect {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

#produtosPages select {
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 14px;
}
#filtroSelect label {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.582);
}

.titleProdutos {
  margin-top: 10px;
}
#filtro span {
  text-align: right;
  margin-left: 45px;
}

@media (max-width: 768px) {
  #filtro span {
    text-align: right;
    margin-left: 0px;
  }
}
