.secao-produtos {
  background-image: url("../image/gradeFundo.png");
  padding: 32px 0;
  width: 100%;
}

.container-carrossel {
  max-width: 1135px;
  margin: 0 auto;
  position: relative;
  padding: 0 30px;
}

/* --- Lista com Scroll --- */
.lista-cards {
  display: flex;
  gap: 14px;
  padding: 20px 10px;
  overflow-x: auto;
  scroll-behavior: smooth;

  /* Esconder Scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.lista-cards::-webkit-scrollbar {
  display: none;
}

/* --- Botões de Navegação (Setas) --- */
.btn-seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 55px;
  transition: transform 0.2s;
}

.btn-seta img {
  width: 100%;
  display: block;
}

.seta-esquerda {
  left: 0;
  transform: translateY(-50%) rotate(180deg);
}

.seta-direita {
  right: 0;
}

.btn-seta:hover {
  transform: translateY(-50%) scale(1.1);
}

.seta-esquerda:hover {
  transform: translateY(-50%) rotate(180deg) scale(1.1);
}

/* --- Responsividade --- */
@media (max-width: 1024px) {
  .container-carrossel {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .container-carrossel {
    padding: 0 10px;
  }

  .btn-seta {
    width: 40px;
  }
}
