* {
  margin: 0;
  padding: 0;
}

.sobre-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 50px;
  padding-top: 0px; 
}

.header-background {
  width: 100%;
  height: 84px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block; 
}

.sobre-banner {
  width: 100%;
  background-color: #ff8c00;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 60px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.sobre-banner h1 {
  font-family: "Saira Stencil One", sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* --- SEÇÕES (LINHAS) --- */
.sobre-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1100px;
  margin-bottom: 10px;
  padding: 0 20px;
}

/* --- IMAGENS --- */
.sobre-img {
  width: 280px; 
  height: auto;
  filter: drop-shadow(0px 4px 10px rgba(255, 140, 0, 0.3)); 
}


.sobre-text-box {
  flex: 1;
  background-color: #fff; 
  border: 3px solid #ff8c00;
  border-radius: 25px;
  padding: 35px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.5);
  text-align: justify;
  color: #000;
  font-size: 1.25rem;
  line-height: 1.6;
}

.box-um {
    border-radius: 0px 90px 0px 20px;
}
.box-dois {
    border-radius: 0px 20px 20px 0px;
}
.box-tres {
    border-radius: 0px 0px 90px 0px;
}

.sobre-text-box h3 {
  margin-top: 0;
  color: #000;
  font-weight: 800;
  margin-bottom: 20px;
}

.sobre-text-box ul {
 display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  list-style-type: disc;
}

.sobre-text-box li {
  width: 100%;
  text-align: left;
  color: #000;
}


@media (max-width: 900px) {
  .sobre-section, .reverse {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
  
  .sobre-text-box {
    text-align: left;
    width: 100%;
  }

  .sobre-img {
    width: 80%;
    max-width: 350px;
  }
}