* {
  margin: 0;
  padding: 0;
}

#cabecalhoSection {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 79px;
  max-width: 500px;
  margin: -20px auto;
  border-radius: 50px 50px 0px 0px;
  border: solid 6px #ff7b00;
}

.textSection {
  margin: 0 auto;
}
