* {
  margin: 0;
  padding: 0;
}

#fundo {
  width: 100%;
  min-height: 750px;
}

#contato-secao {
  padding: 40px 30px;
  font-family: Arial, sans-serif;
}

.contato-caixa {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  border: 6px solid black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* FORMULÁRIO */
.coluna-form {
  flex: 1;
  background-color: #ff6900;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.titulo-form {
  font-family: "Saira Stencil One", cursive;
  font-size: 3rem;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0 #fff;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid black;
  background-color: #ffddaa;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 1rem;
}

.linhaa {
  display: flex;
  gap: 15px;
}

.campo {
  display: flex;
  flex-direction: column;
  width: 100%;
}


textarea {
  resize: none;
}

.erro {
  border-color: red !important;
}

.msg-erro {
  color: red;
  font-size: 0.9rem;
  margin-top: -10px;
}

.erro-email {
    margin-top: 43px;
    display: block;
}


.botao-enviar {
  padding: 12px 30px;
  align-self: flex-end;
  background-color: #ffddaa;
  border: 3px solid black;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.botao-enviar:hover {
  background-color: #ffbb55;
}

/* MAPA */
.coluna-mapa {
  flex: 1;
  display: flex;
  min-height: 500px;
}

#mapa {
  flex: 1;
  background-color: #eee;
  min-height: 500px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .contato-caixa {
    flex-direction: column;
  }

  .linha {
    flex-direction: column;
  }

  #mapa {
    min-height: 350px;
  }

  .botao-enviar {
    width: 100%;
  }
}
