* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.barra {
  margin: 0 auto;
  margin-top: 10px;
  width: 100%;
  background-color: #be0505;
  padding: 15px 0px 15px 0px;
  text-align: center;
  border-top: solid 5px #ffcc00;
  border-bottom: solid 5px #ffcc00;
}

.barra p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  -webkit-text-stroke: 0.3px #000;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 824px) {
  .barra p {
    font-size: 16px;
  }
}
