* {
  margin: 0;
  padding: 0;
}

.banner-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-content {
  width: 1400px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  color: black;
  font-size: 30px;
  font-weight: bold;

  border: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.2s;
}

.left-arrow {
  left: 15px;
}

.right-arrow {
  right: 15px;
}

.banner-arrow:hover {
  color: #000;
  text-shadow: 0 0 4px #000;
}

@media (max-width: 600px) {

  .banner-container {
    height: auto;
  }

  .banner-content {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 0;
  }

  .banner-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .banner-arrow {
    font-size: 20px;
  }
}
